<!DOCTYPE html>

{% extends "base.html" %} {% load static %}

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title></title>
  </head>
  <body>
    {% block content %} {% comment %}
    <div class="item2">
      <ul>
        Filter By Society
        <li><a href="nms.html">Nust Music Society</a></li>
        <li><a href="NFC.html">Nust Fitness Club</a></li>
        <li><a href="NDC.html">Nust Dramatics Club</a></li>
        <li><a href="NLC.html">Nust Literary Circle</a></li>
        <li><a href="nss.html">Nust Science Society</a></li>
        <li><a href="NAC.html">Nust Adventure Club</a></li>
        <li><a href="NTAC.html">Nust Technical Club</a></li>
      </ul>
    </div>
    {% endcomment %} {% for soc in society %}

    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        value=""
        id="defaultCheck1"
      />
      <label class="form-check-label" for="defaultCheck1">
        {{soc.society}}
      </label>
    </div>

    {% endfor %}

    <div class="item3">
      <div class="events">
        {% for event in events %}
        <h1>{{event.name}}</h1>
        <div>
          {% comment %}
          <p>{{event.event_poster.url}}</p>
          {% endcomment %}
          <img src="{{event.event_poster.url}}" width="160px" height="200px" />
          <div class="button">
            <form action="" method="POST">
              {% csrf_token %}
              <button type="button" name="{{event.name}}">
                <a href="{% url 'event' oid=event.name %}">View Details</a>
              </button>
            </form>
          </div>
        </div>

        {% endfor %}
      </div>
    </div>

    {% endblock %}
  </body>
</html>
