<!DOCTYPE html>

{% extends "base.html" %} {% load static %}

<html lang="en" dir="ltr">
  <head>
    {% comment %} <link rel="stylesheet" href="{% static '/css/master.css' %}"> {% endcomment %}
    <meta charset="utf-8" />
    <title>HOME</title>
  </head>
  <body >
    {% block content %}
      <div class="main">
        <h1 class="display-6 text-center text-light my-3">EVENTS CURRENTLY HAPPENING IN NUST</h1>
       {% comment %} <aside class="left font">
         {% for soc in society %}
           <div class="form-check d-flex">
             <inputa
               class="form-check-input "
               type="checkbox"
               value=""
               id="defaultCheck1"
             />
             <label style="color:white; font-weight:bold;font-size:18px;" class="form-check-label" for="defaultCheck1">
               {{soc.society}}
             </label>
           </div>
           {% endfor %}
           <button class="buttons" style=" padding: 3px 8px;"type="submit" name="button">FILTER</button>
       </aside> {% endcomment %}
       <section >
     <div class="row">

    {% for event in events %}
      <div class="col">
    {% comment %}
    <p>{{event.event_poster.url}}</p>
    {% endcomment %}
    <div class="text-center "><a class="text-center " style="  color:white;"href="{% url 'event' oid=event.name %}"><br>
      <img class="rounded " src="{{event.event_poster.url}}" width="200px" height="220px"></div>
    <div class="">
      <form action="" method="POST">
        {% csrf_token %}
         <button type="button" class=" btn text-white my-3" style="background-color:#B20600;">{{event.name}}</button>
        {% comment %} <button class="btn btn-secondary" type="button"  name="{{event.name}}"> {% endcomment %}
          {% comment %} View Details {% endcomment %}
        {% comment %} </button> {% endcomment %}
      </form>
      </a>
    </div>

  </div>
    {% endfor %}
</div>
      </div>
</section>
{% endblock %}
  </body>
</html>
