{% extends "base.html" %}

{% load bootstrap3 %}


{% block content %}
  <div class="container text-light lead">
    <h1 class="text-light display-6" >Sign Up</h1>
    <br>
<h6 class=" h6">* YOUR USERNAME WILL BE YOUR NUST CMS ID</h6>
<form class="text-light" method="post">
  {% csrf_token %}
  {% bootstrap_form form %}
  <input type="submit" class='btn my-4'style="color:white ;background-color:#B20600;" value="Sign Up"
  style="margin-top:5px;">
</form>

<a class="text-light" href="{% url 'login' %}">Already have an account?</a>
  </div>
<br>
<br>

{% endblock %}
